include *.txt
recursive-include __pycache__ *.pyc
recursive-include build *.py
recursive-include dist *.whl
recursive-include docs *.bat
recursive-include docs *.buildinfo
recursive-include docs *.css
recursive-include docs *.doctree
recursive-include docs *.eot
recursive-include docs *.html
recursive-include docs *.inv
recursive-include docs *.js
recursive-include docs *.pickle
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.svg
recursive-include docs *.ttf
recursive-include docs *.txt
recursive-include docs *.woff
recursive-include docs *.woff2
recursive-include docs Makefile
recursive-include src *.csv
recursive-include src *.npy
recursive-include src *.pkl
recursive-include src *.py
recursive-include src *.pyc
recursive-include tests *.py
recursive-include tests *.pyc
